body {
    background-image: url('../img/okxqpbgzsxq51.png');
}
.s {
    width: 650px;
    margin-top: -50px;
}
.eg {
    width: 650px;
    margin-left:65.4%;
    margin-top: -650px;
}
.bb {
    width: 650px;
    margin-top: 0;
    margin-left: 34%;
}

